/* General */

body {
    background-color: rgb(252, 243, 211)
}

main {
    text-align: center;
    margin: 15px;
    padding: 15px;
}

/* Navbar */

.active {
    background-color: white;
}

/* Food, hotels and transport page */

.food-drinks-container {
    display: flex;
    text-align: center;
    margin-bottom: 10px;
}

.restaurant-type-div div {
    background-color: white;
    border: solid 1px black;
    padding: 10px;
}

#hotels-div,
#transport-div {
    background-color: white;
    border: solid 1px black;
}

.restaurant-type-div h3 {
    padding-top: 20px;
}

.restaurant-type-div p {
    font-style: italic;
}

.hotels-transport-container {
    display: flex;
    text-align: center;
    margin-bottom: 10px;
}

.food-drinks-button,
.hotels-transport-button {
    border-radius: 10px;
    background-color: green;
    color: white;
}


/*  Hide and show functionality */

.hidden {
    display: none;
}

/* Contact Form */

* {
    box-sizing: border-box;
}

label,
input {
    display: block;
}

input,
textarea {
    margin: 0 auto;
    padding: 5px;
    width: 80%;
}

.form-field {
    padding: 5px;
}


/* Memory Game */

.game-container {
    display: flex;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    align-items: center;
}

.card-item {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    position: relative;
}

img {
    width: 100%;
    height: auto;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-back,
.card-front {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.inner-card {
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.card-front,
.card-item.flip-item .inner-card,
.card-item.matched-cards .inner-card {
    transform: rotateY(180deg);
}


#start-button,
#reset-button,
#instructions {
    border-radius: 5px;
    background-color: black;
    color: white;
    margin: 8px;
}

/* Footer */

footer {
    margin: 0;
    padding: 0;
    height: 12rem;
    background-color: black;
    color: white;
    display: block;
}

.logo {
    width: 5rem;
    height: auto;
    margin: 0 auto;
    display: block;
    padding-left: 5px;
    padding-bottom: 5px;
}


.social-container {
    display: block;
    margin-left: 10px;
    margin-top: 5px;
    text-align: center;
}

h3 {
    font-size: 15px;
    font-weight: bold;
}

i {
    padding: 5px;
    color: white;
}

#social-links a {
    text-decoration: none;
}

#copyright-statement {
    font-size: 10px;
    color: white;
    float: middle;
}