/* General */

* {
    margin: 0;
}

body {
    background-color: rgb(252, 243, 211)
}

main {
    text-align: center;
}


/* Navbar */

li {
    padding: 10px;
    display: inline-block;
    margin: 0 auto;
}

li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

nav {
    background-color: black;
}

nav ul {
    text-align: center;
}

/* Home Page */

#home-title,
#welcome {
    padding: 20px;
}

.home-content {
    text-align: center;
    margin: 50px;
}

.home-content p {
    padding: 10px;
}

#home-image {
    width: 20rem;
    height: auto;
}

/* Attractions Page */

#attractions-title {
    margin: 10px;
    padding-top: 10px;
}

.attractions-type-div {
    margin: 50px;
}

.attractions-type-div div {
    text-align: center;
    padding: 10px;
    border: solid 1px black;
    background-color: white;
}

.attractions-type-div h3 {
    padding-top: 20px;
}

/* Food, hotels and transport page */

.restaurant-type-div {
    margin: 50px;
}

.restaurant-type-div div {
    background-color: white;
    border: solid 1px black;
    padding: 10px;
}

#hotels-div,
#transport-div {
    background-color: white;
    border: solid 1px black;
}

.restaurant-type-div h3 {
    padding-top: 20px;
}

#hotels-div,
#transport-div {
    padding: 20px;
    margin: 50px;
}

/*  Hide and show functionality */

.hidden {
    display: none;
}